& > .buttons
  display flex
  justify-content center
  align-items center
  font-size 2em
  color #fff
  perspective 500px
  z-index 150
  height 80px

  $button
    transition-property text-shadow, transform, color, opacity
    transition-duration @transition-duration
    cursor pointer
    padding 10px

    &:hover
      transition-duration 0.2s

    &:active
      transition-duration 0.1s

  .prev
    @extend {selector('../ $button')}

    &:hover
      transform translateX(-5px)

    &:active
      transform translateX(-5px) scale(0.95)

  .stash
    @extend {selector('../ $button')}
    position relative
    bottom 6px

    &:hover
      transform translateY(-5px)

    &:active
      transform translateY(-5px) scale(0.95)

  .trash
    @extend {selector('../ $button')}
    position relative
    top 6px

    &:hover
      transform translateY(5px)

    &:active
      transform translateY(5px) scale(0.95)

  .next
    @extend {selector('../ $button')}

    &:hover
      transform translateX(5px)

    &:active
      transform translateX(5px) scale(0.95)


  &.v-enter-active
  &.v-leave-active
    transition-property height, opacity
    transition-duration @transition-duration

    .stash
    .trash
      transition-property top, bottom
      transition-duration @transition-duration

  &.v-enter
  &.v-leave-to
    height 0
    opacity 0

    .stash
      bottom 0

    .trash
      top 0
