#tisshubox
  $flip-animation-duration = 0.69s

  display flex
  flex-flow column
  height 100vh
  transition-property background
  transition-duration $flip-animation-duration

  @import tisshu
  @import buttons
