.pagebar
  margin 7px 0 -3px
  display flex
  justify-content center
  font-size 0.8rem
  z-index 100

  .page
    padding 0 5px
    transition-property color, opacity
    transition-duration @transition-duration

    &:not(.current)
      opacity 0.5

    &.dummy
      visibility hidden

    .fa-circle-o-notch
      font-size 0.9em

    &.page-enter
      opacity 0

    &.page-leave-active
      position absolute

    &.page-move
      transition-property transform
      transition-duration @transition-duration
