.pagebar
  display flex
  justify-content center
  margin 7px 0 -3px
  font-size 0.8rem
  z-index 100

  .contents
    display flex
    justify-content center
    width 25px
    transition-property color, opacity, transform
    transition-duration @transition-duration

    &:not(.current)
      opacity 0.3
      cursor pointer

      &:hover
        opacity 0.9
        transform scale(1.2)
        transition-duration 0.2s

      &:active
        opacity 1
        transform scale(0.69)
        transition-duration 0.1s

  .page
    transition-property opacity, transform, filter
    transition-duration @transition-duration

  .page-leave-active
  .page-up-leave-active
  .page-down-leave-active
    position absolute

  .page-up-leave-to
    transform translateY(-30px) scale(1.1)
    filter brightness(4)

  .page-down-leave-to
    transform translateY(30px) scale(0.9)
    filter brightness(0.25)

  .page-enter
  .page-up-enter
  .page-down-enter
  .page-leave-to
  .page-up-leave-to
  .page-down-leave-to
    opacity 0
