& > .tisshuframe
  flex 1
  position relative
  z-index 0

  > .background
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index -100
    overflow hidden
    display flex

    .bg
      flex 1
      display flex

      .inner
        flex 1
        background no-repeat center center / cover
        filter saturate(150%)
        transform scale(1.2)
        filter blur(20px)
        opacity 0.69

  > .wrapper
    position absolute
    box-sizing border-box
    padding 10px
    width 100%
    height @width
    display flex
    overflow hidden

    @import tisshu

  .left-enter-active
  .left-leave-active
  .right-enter-active
  .right-leave-active
    &
    .tisshu
    .bg
      transition-property transform
      transition-duration @transition-duration

  .up-left-enter-active
  .up-right-enter-active
  .up-left-leave-active
  .up-right-leave-active
  .down-left-enter-active
  .down-right-enter-active
  .down-left-leave-active
  .down-right-leave-active
    &
    .tisshu
    .bg
      transition-property transform, filter, opacity
      transition-duration $vertical-duration

  .up-left-enter-active
  .up-right-enter-active
  .down-left-enter-active
  .down-right-enter-active
    &
    .tisshu
    .bg
      transition-delay $vertical-duration

  .left-enter
  .left-leave
  .right-enter
  .right-leave
  .up-left-enter
  .up-right-enter
  .up-left-leave
  .up-right-leave
  .down-left-enter
  .down-right-enter
  .down-left-leave
  .down-right-leave
  .up-left-enter
  .up-right-enter
  .down-left-enter
  .down-right-enter
    &
    .tisshu
    .bg
      transition none

  .up-left-enter
  .down-left-enter
  .left-enter
  .right-leave-to
    transform translateX(100vw) translateX(69px)

    .tisshu
    .bg
      transform translateX(-20vw)

  .up-right-enter
  .down-right-enter
  .right-enter
  .left-leave-to
    transform translateX(-100vw) translateX(-69px)

    .tisshu
    .bg
      transform translateX(20vw)

  .up-left-leave-to
  .up-right-leave-to
    transform translateY(-20vh) scale(1.1)
    filter blur(50px) brightness(1.85)
    opacity 0

  .down-left-leave-to
  .down-right-leave-to
    transform translateY(20vh) scale(0.9)
    filter blur(50px) brightness(0.15)
    opacity 0

  .fade-enter
  .fade-left-enter
  .fade-right-enter
  .fade-leave-to
  .fade-left-leave-to
  .fade-right-leave-to
    opacity 0

  .fade-left-enter
  .fade-right-leave-to
    transform translateX(10vw)

  .fade-right-enter
  .fade-left-leave-to
    transform translateX(-10vw)

  .fade-enter-active
  .fade-leave-active
  .fade-left-enter-active
  .fade-left-leave-active
  .fade-right-enter-active
  .fade-right-leave-active
    transition-property opacity, transform
    transition-duration @transition-duration
