.tisshuframe
  flex 1
  position relative
  z-index 0

  > .wrapper
    position absolute
    box-sizing border-box
    padding 10px
    width 100%
    height @width
    display flex
    overflow hidden

    &.left-enter-active
    &.left-leave-active
    &.right-enter-active
    &.right-leave-active
      &
      .tisshu
        transition-property transform
        transition-duration @transition-duration

    &.up-left-enter-active
    &.up-left-leave-active
    &.down-left-enter-active
    &.down-left-leave-active
      &
      .tisshu
        transition-property transform, filter, opacity
        transition-duration $vertical-duration

    &.up-left-enter-active
    &.down-left-enter-active
      &
      .tisshu
        transition-delay $vertical-duration

    &.left-enter
    &.left-leave
    &.right-enter
    &.right-leave
    &.up-left-enter
    &.up-left-leave
    &.down-left-enter
    &.down-left-leave
    &.up-left-enter
    &.down-left-enter
      &
      .tisshu
        transition none

    &.up-left-enter
    &.down-left-enter
    &.left-enter
    &.right-leave-to
      transform translateX(100vw)
      transition none

      .tisshu
        transform translateX(-20vw)

    &.right-enter
    &.left-leave-to
      transform translateX(-100vw)

      .tisshu
        transform translateX(20vw)

    &.up-left-leave-to
      transform translateY(-20vh) scale(1.1)
      filter brightness(1.85)
      opacity 0

    &.down-left-leave-to
      transform translateY(20vh) scale(0.9)
      filter brightness(0.15)
      opacity 0

    &.fade-enter
    &.fade-left-enter
    &.fade-right-enter
    &.fade-leave-to
    &.fade-left-leave-to
    &.fade-right-leave-to
      opacity 0

    &.fade-left-enter
    &.fade-right-leave-to
      transform translateX(10vw)

    &.fade-right-enter
    &.fade-left-leave-to
      transform translateX(-10vw)

    &.fade-enter-active
    &.fade-leave-active
    &.fade-left-enter-active
    &.fade-left-leave-active
    &.fade-right-enter-active
    &.fade-right-leave-active
      transition-property opacity, transform
      transition-duration @transition-duration
