#tisshubox
  box-sizing border-box
  perspective 1000px
  height 100vh
  display flex
  flex-flow column
  align-items center
  justify-content center
  padding 100px 0

  .search
    position absolute
    height 50px
    top ((@padding[0] - @height) / 2)
    display flex
    justify-content center
    font-size 2rem
    width 'calc(100vw - %s)' % (@top * 1.8)
    outline 3px solid

    input
      font-size inherit
      border none
      outline none
      padding-left 20px
      flex 1 0 auto

    button
      cursor pointer
      padding 0 0 0 @outline[0]
      font-size 0.8em
      border none
      outline none
      width @height
      display flex
      justify-content center
      align-items center

  .background
    z-index -1
    display block
    position absolute
    height 100%
    width 100%
    opacity 0.28
    filter blur(28px)
    transform scale(1.2)
    background no-repeat center center / cover

  .tisshu
    width 90vw
    flex 1 0 0
    margin 20px
    background no-repeat center center / contain

  .title
    font-size 1.5rem

  .buttons
    position absolute
    height 50px
    bottom ((@padding[0] - @height) / 2)
    display flex
    justify-content center

    button
      cursor pointer
      padding 0 50px
      margin 0 20px
      font-size 1.2rem
      border none
      outline none
      transition-property background, color, opacity, transform
      transition-timing-function cubic-bezier(0, 1.5, 0.5, 1.5)
      transition-duration 0.69s

      &:hover
        transform scale(1.05)
        transition-timing-function ease-out
        transition-duration 0.2s

      &:active
        transform scale(0.95) rotateX(30deg)
        transition-timing-function ease-in
        transition-duration 0.1s

      &[disabled]
        opacity 0.69
        transform scale(0.9)
        transition-timing-function cubic-bezier(0, 1.2, 1, 1.2)
        transition-duration 0.42s
        cursor wait
